
/*main css page*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
@media screen and (min-width: 1000px) and (max-width: 10000px) {
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Rachel's css*/

/*============================STRUCTURE==============================*/

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.siteWrapper{
    max-width: 1000px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.navWrapper{
    max-width: 1000px;
    width: 70%;
    height: 50px;
    margin: 0px auto;
    background-color: white;
    position: fixed;
}
.coverWrapper{
    width: 100%;
    height: 700px;
    margin: 0px 0px auto;
}
.projectWrapper{
    width: 100%;
    height: auto;
    margin: 0px auto;

}
.infoWrapper{
    width: 100%;
    height: 500px;
    margin: 0px auto;
    background-color: #e5e6e6;
    margin-top: 100px;
}
.introWrapper{
    width: 100%;
    height: 400px;
    margin: auto;
    
}
.vertical-container {
  display: -webkit-flex;
  display: flex;
}
.vertically-centered {
  margin: auto;
}

/*============================TYPOGRAPHY==============================*/

p{
    font-family: "cooper_hewittbook";
    font-size: 1.1em;
    font-style: normal;
    font-weight: normal;
    color: #414042;
    line-height: 170%;
    padding-bottom: 0.85em;
   font-weight: normal;
-webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
    color: #A4A3A5;
}
a:hover{
    color: #414042;
}
h1{
    font-family: "cooper_hewittbold";
    font-size: 8rem;
    line-height: 100%;
    color: #e6e7e8;
    text-transform: uppercase;
    text-align: center;
}
.arrow{
    font-family: "monaco";
    font-size: 4rem;
}
h2{
    color: #e6e7e8;
    font-family: "cooper_hewittsemibold";
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 0.05em;
    font-weight: normal;
-webkit-font-smoothing: antialiased;
}
h3{
    color: #414042;
    font-family: "cooper_hewittbold";
    font-size: 1.1em;
    letter-spacing: 0.0em;
    line-height: 150%;
    font-weight: normal;
-webkit-font-smoothing: antialiased;
}
.red{
    color: #EE3123;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 0.1em;
}
.caps{
    letter-spacing: 0.1em;
}
.menu-header{
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.menutext{
    font-family: "cooper_hewittmedium";
    color: #A4A3A5;
    font-size: 90%;
    font-weight: normal;
-webkit-font-smoothing: antialiased;
}
a.menutext:hover{
    color: #414042;
}

.menutext-inside{
    font-family: "cooper_hewittmedium";
    color: #A4A3A5;
    font-size: 75%;
    font-weight: normal;
-webkit-font-smoothing: antialiased;
}
a.menutext-inside:hover{
    color: #414042;
}



/*============================NAVIGATION==============================*/

.navBar{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e6e7e8;
}
.navLeft{
    width: 40%;
    float: left;
}
.navRight{
    width: 60%;
    float: left;
}
.menu li{
    display: inline;
    padding-right: 10%;
    float: left;
}

/*============================TITLE==============================*/

.cover{
    max-width: 1000px;
    height: 100%;
    margin: auto;
    background-color: #414042;
}

/*============================PROJECTS==============================*/

.project{
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

img{
    max-width: 100%;
	/*height: auto;*/
    margin: auto;
}
.descriptionWrapper{
    width: 60%;
    height: 300px;
    margin: auto;
    padding: 50px 0px;
}
.description{
    margin-top: 25px;
}

.description-box{

}
/*============================SLIDESHOW==============================*/

.slideshow {
    position: relative;
    height: 500px;
    margin: 0 auto;
    z-index: -10;
}

.slideshow IMG {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.slideshow IMG.active {
  z-index: 10;
}

.slideshow IMG.last-active {
  z-index: 9;
}


/*============================Info==============================*/

.leftCol{
    width: 40%;
    height: 400px;
    padding-top: 50px;
    float: left;
}
.rightCol{
    width: 60%;
    height: 400px;
    float: right;
    padding-top: 50px;
    
}
.extra-paddingL{padding-top: 100px;}
.extra-paddingR{padding-top: 100px;}

.colph{
    width: 100%;
    height: 200px;
    margin: auto;
    border-top: 1px solid #e6e7e8;
    font-size: 75%;
    margin-right: 14%;
    padding-top: 5%;
    color: #A4A3A5;
}

.CleftCol{
    width: 40%;
    float: left;
}
.CrightCol{
    width: 60%;
    float: right;
    
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/*=========================Sections headers=============================*/


.designTitle{
    color: #A4A3A5;
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 20px;


}    
#first{
    padding-top: 25px;

}
.sectionBreak{
    width: 100%;
    padding-top: 48px;
    border-bottom: 1px solid #e6e7e8;

}
    
/*===============================================================*/

